<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/index.js' %}" defer></script>
    <title>{% block title %} Django App {% endblock %}</title>
</head>

<body>
    <nav>
        <a href="/">home</a> |
        <a href="/about">about</a> |
        <a href="{% url 'posts:list' %}">posts</a> |
        <a href="{% url 'users:register' %}">users registration</a>
    </nav>
    <main>{% block content %} {% endblock %}</main>
</body>

</html>